body {
	font-size: 1em;
}

#bottomnav{
	background-color: #000066;
	color: #BBE5FF;
	float: left;
	position: absolute;
	left: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
#bottomnav ul{ margin: 0;  padding: 0;  float: left;   }
#bottomnav ul li{ margin: 0; padding: 0;   float: left;  list-style-type: none;  }
#bottomnav ul li ul{ display: none; z-index: 1000;}

#bottomnav ul li ul li:hover{
	padding-bottom: 0;
}
#bottomnav ul li:hover ul {
	
	float: right;
	visibility: visible;
	display: block;
	position: absolute;
	width: 7em;
	
	bottom: 1.1em;
	
}
#bottomnav ul li:hover ul li{ 
display: block;
 float: left;  
 
 width: 100%;}
#bottomnav ul li a{
	float: left;
	text-decoration: none;
	color: #BBE5FF;
	padding: 0 .5em 0 .5em;
}
#bottomnav ul li a:hover{ background-color: #003399;  color: White;  }
#bottomnav ul li ul li a{ border-color: #003399;  
border-style: solid; 
 border-width: 1px;  
float: none;
 background-color: #00CCFF;
 color: #000066;
 font-size: 85%;
 }
#bottomnav ul li ul li + li a{
	border-top-style: none;
}