#ex1{
	

   /*Size of the image*/
   padding-top: 133px;
   width: 243px;
	
   /*The image*/
   background-image: url(ex1.gif);
   background-repeat: no-repeat;
	
	/*Hide the text*/
   overflow: hidden;
	/* WIN IE5 hack */
   height: 133px;
	
	voice-family: "\"}\""; 
	voice-family:inherit;
	height: 0;
}