body{
	background-color : White;
	color : #0E0E0E;
	padding : 0;
	margin : 0;
	font-size : 1em;
	font-family : Arial, Helvetica, sans-serif;
	min-width : 700px;
	background-image : url(linebg.png);
	background-repeat : repeat-y;
	background-position : 65% 0;
}

img{
	border-width: 0;
}

/* logo ************************/
body #logo{
	padding : .2em 0 0 0;
	background-color : White;
	border-bottom : 2px solid #2A3540;
	background-image : url(topbarbg.gif);
	background-position :top;
	background-repeat : repeat-x;
}

body #logo img{
	vertical-align : bottom;
}

/* nav *************************/
body #nav{
	background-color : #D5E0EA;
	color : #2A3540;
	font-weight : bold;
	padding: .1em 0 .1em 0;
	border-bottom : 2px solid #2A3540;
	font-size : 80%;
	margin-bottom: .5em;
}

body #nav ul{
	margin : 0;
	padding: 0;
	white-space : nowrap;
	background-color : transparent;
}

body #nav ul li{
	display : inline;
	background-color : transparent;
}
body #nav ul li a{
	color : inherit;
	text-decoration : none;
	padding: 0 .5em 0 .5em;
	background-color : transparent;
}
body #nav ul li a:hover{
	color : #0000CC;
	text-decoration : underline;
	background-color : transparent;
}

/* blurb ****************/
body #blurb{
	width : 65%;
	float : left;
	border-color : #2D4862;
	border-style : solid;
	border-width : 1px 0 1px 0;
	font-family : "Trebuchet MS","MS Serif", "New York", serif;
	font-style : italic;
	font-weight : bolder;
	background-image : url(blurbbg.png);
	background-position : bottom;
	background-repeat : repeat-x;
	background-color : #F5F7F9;
	color : #1F3343;
}
body #blurb p{
	margin: 1em;
}
body #blurb a{
	text-decoration : none;
	color : #0066CC;
	border-bottom-style : dashed;
	border-bottom-width : 1px;
	border-bottom-color : #67AEDB;
}
body #blurb a:hover{
	border-bottom-style : solid;
	border-bottom-color : #51AAFF;
	color :#0099FF ;
}

/* news ***************/
body #news{
	width : 60%;
	float : left;
	padding: 0 2% 0 3%;
	font-family : "Trebuchet MS","MS Serif", "New York", serif;
	background-image : url(newsbg.png);
	background-position : top;
	background-repeat : repeat-x;
	background-color : transparent;
}

body #news h1{
	font-size : 120%;
	background-color : transparent;
	color : #2A3540;
	margin :0 0 .25em 0;
	font-weight: bold;
	
}



body #news h2{
	border-bottom-color : #2D4862;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	font-weight : normal;
	font-size : 110%;
	margin-bottom : 0;
	color : #2D4862;
	background-color : transparent;
}
body #news h1 + h2,
body #news h1 + .pastnews + h2,
body #news h2 + p,
body #news h2 + .date + p{
	margin-top : 0;
}

body #news p{
	line-height : 150%;
	margin-left : 1%;
	margin-right : 2%;

}

body #news .date{
	float : right;
	font-size : 75%;
	background-color : #EDF0F5;
	color : #2A3540;
	border-style : solid;
	border-width : 0 1px 1px 1px;
	padding : .1em .5em .1em .5em;
}

body #news .archive{
	font-size : 75%;
	font-weight : bold;
}

body #news a:link{
	color : #003399;
	text-decoration : none;
	border-bottom-color : inherit;
	border-bottom-style : dashed;
	border-bottom-width : 1px;
	background-color : transparent;
}
body #news a:link:hover{
	border-bottom-color : #00CCFF;
	border-bottom-style : solid;
	color : #0066CC;
	background-color : transparent;
}
body #news h1 + .pastnews{
	float : right;
	margin : -1.6em .5em 0 0;
	font-size : 80%;
	font-weight : bold;
}
body #news .pastnews{
	font-size : 105%;
	font-weight : bold;
}
body #news .pastnews a,
body #news .pastnews a:hover{
	border-bottom-style : none;
}

/* sidebar *************/
body #sidebar{
	width: 35%;
	float: right;
}

body #sidebar ul{
	margin : 0;
	padding : 0;
	border-color : #2A3540;
	border-style : solid;
	border-width : 0 1px 1px 1px;
	background-color : #EDF0F5;
	color : inherit;
}
body #sidebar ul li{
	list-style-type : none;
	
}
body #sidebar ul li a.tab{
	font-weight : bold;
	font-size : 100%;
	text-decoration : none;
	padding : .1em .25em .1em 1em;
	color : #2A3540;
	background-color : #FDFEFE;
	color : #2A3540;
	background-image : url(topbarbg.gif);
	background-position :top;
	background-repeat : repeat-x;
	display : block;
	border-color : #2A3540;
	border-style : solid;
	border-width : 1px 0 0 0;
	margin : 0;
}
body #sidebar ul li a.tab:hover{
	background-image : none;
	background-color : #0057AA;
	color : White;
}
body #sidebar ul li a.close{
	float : right;
	font-size : 70%;
	font-weight : bold;
	margin : -1.7em .5em 0 0;
	padding: 0 .5em 0 .5em;
	display: none;
}
body #sidebar ul :target a.close{
	display: inline;
	background-color : #EDF0F5;
	color : #2A3540;
	border-style : solid;
	border-width : 1px;
	border-color : #2A3540;
	text-decoration : none;
}
body #sidebar ul :target a.close:hover{
	background-color : #0066CC;
	color : White;
}
body > #sidebar .inner{
	display : none;
}

body #sidebar :target .inner{
	display: block;
	padding : 0 .2em .5em .2em;
}
body #sidebar .inner ul{
	border-style : none;
	margin-left : 1em;
}
body #sidebar .inner ul li{
	list-style-type : disc;
}
body #sidebar .inner a{
	display: inline;
	background-color : transparent;
	margin-bottom: 1px;
	text-decoration : none;
}


body #sidebar .inner a:link{
	color : #0000CC;
	background-color : transparent;
}
body #sidebar .inner a:link:hover{
	color : #408EFF;
	margin-bottom: 0;
	border-bottom-color : #8ED9FF;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	background-color : transparent;
}
body #sidebar .inner a:visited{
	color : #6633CC;
	background-color : transparent;
}
body #sidebar .inner a:visited:hover{
	color : #FF00CC;
	background-color : transparent;
}

/* footer ********************/
body #footer{
	float : left;
	padding : .75em 1% .75em 1%;
	background-color : #EDF0F5;
	width : 98%;
	border-top : 1px solid #2D4862;
}
body #footer p{
	margin: 0;
}

input{
	background-color : #D2DAE6;
	border-color : #2A3540;
	border-style : solid;
	border-width : 1px;
	padding : 0 .5em 0 .5em;
	color : #1E3F59;
	font-size : 1em;
}
input:focus,
input:hover{
	background-color : White;
	color : Black;
	border-color : #6699CC;
}
input[type=submit]
{
	background-color : White;
	background-image : url(buttonbg.gif);
	background-position : top;
	background-repeat : repeat-x;
	color : #3B536B;
	font-weight : bold;
	margin : 1px;
	position : relative;
	vertical-align : middle;
}
input[type=submit]:hover{
	color : #0066CC;
	border-width : 2px;
	margin : 0;
}

