body {
	font-size: 1em;
}

ul{ margin: 0;  padding: 0;  float: left; width: 100%;  white-space: nowrap; }
ul li{ margin: 0;  padding: 0 .5em 0 .5em;  list-style-type: none;  
display: inline; 

float: left;
}
ul li ul{ display: none; z-index: 1000;}

ul li ul li:hover{
	padding-bottom: 0;
}
ul li:hover ul {

	float: left;
	visibility: visible;
	display: block;
	position: absolute;
	width: 6em;
	background-color: #008099;
}
ul li:hover ul li{ display: block; float: none; white-space: normal;}
ul li a{
	/*float: left;*/
	display: block;


}