#popupmenu{
	float: left; /* to keep the other floating objects contained*/
	position: relative; /* This can also be fixed or absolute*/
	width: 100%;
	height: 22px;
	
	/*Format */
	background-image: url(barbg.png);
	background-color: #5589E9;	
	color: #345D84;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-color: #1A5CC8;
	border-style: solid;
	border-width: 1px 3px 2px 2px;	
}

#popupmenu ul{
	float: left;
	white-space: nowrap;
	margin: 0;  
	padding: 0;  
}



#popupmenu ul li,
#popupmenu ul li ul li,
#popupmenu ul li ul li ul li,
#popupmenu ul li ul li ul li ul li
{ 
	margin: 0;
	padding: 0;
	float: left;
	
	list-style-type: none;
	position: relative; 
	
}

#popupmenu ul:hover li ul li ul li,
#popupmenu ul:hover li ul li ul li ul li,
#popupmenu ul:hover li ul li ul li ul li ul li{
	display: none;
}

#popupmenu ul li ul li:hover ul li,
#popupmenu ul li ul li ul li:hover  ul li,
#popupmenu ul li ul li ul li  ul li:hover ul li{
	display: block;
}

#popupmenu ul li:hover ul li{ 
	display: block;
 	float: left;   
 	width: 100%;
}
#popupmenu ul li ul
{ 
	display: none;
	z-index: 1000;
}

/* First submenu level*/
#popupmenu  > ul > li:hover > ul{
	display: block; /*unhide it*/
	
	float: right;	
	position: absolute; /* It needs to be absolute
	for the effect to work.*/
	
	width: 122px;
	left: -20px;
	bottom: 15px; /* This places the the bottom of the 
	ul 1.1em from the bottom of the enclosing li. This 
	is the important part of the effect.*/
	
}
/* For the remaining submenu levels*/
/* add more for each extra submenu level*/

#popupmenu ul:hover li ul li ul,
#popupmenu ul li ul:hover li ul li ul,
#popupmenu ul li ul li ul:hover li ul li ul{
	position: absolute;
	display: block;
	z-index: 5;
	
	top: 5px;
	right: 4px;
	left: auto;
	bottom: auto;
	height: 15px;	
	width: 8px;
	
	background-image: url(submenumarker.png);
}
#popupmenu  ul  li  ul  li:hover  ul,
#popupmenu  ul  li  ul li ul li:hover  ul,
#popupmenu  ul  li  ul li ul li ul li:hover  ul{
		display: block;
	position: absolute;
	
	width: 122px;
	height: auto;
	right: auto;
	top: auto;
	left: 85px;
	bottom: 5px; /* Required with some value or
	the effect will not work*/
	
	background-image: none;
	
}
#popupmenu  ul  li  ul  li:last-child:hover >  ul,
#popupmenu  ul  li  ul li ul li:last-child:hover > ul,
#popupmenu  ul  li  ul li ul li ul li:last-child:hover >  ul{
	bottom: 12px;
}






#popupmenu ul li a{
	float: left;
	display: block;
	position: relative;
	
	height: 18px;
	padding: 2px 44px 2px 44px;	
	margin-left: -37px;
	
	background-image: url(barbutton.png);
	color: #113C7D;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;	
}
#popupmenu ul li:first-child a{
	padding-left: 8px;
	margin-left: 0;
	background-position: -36px 0;
}
#popupmenu ul li:last-child a{
	padding-right: 8px;
}
#popupmenu > ul > li:last-child{
	padding-right: 36px;
	
	background-image: url(barbuttonend.png);
	background-position: right top;
	background-repeat: no-repest;
	
}
#popupmenu > ul > li:last-child:hover{
	background-image: url(barbuttonendhover.png);
}
/* The on state for the link when you are on the submenu.
This should be before the hover state for the link itself*/
#popupmenu ul li:hover > a,
#popupmenu ul li a:hover
{
	background-image: url(barbuttonhover.png);
	color: White;
}
#popupmenu ul li a:hover
{ 
	color: White; 
}



#popupmenu ul li ul li  a,
#popupmenu ul li ul li:first-child a{ 
	float: none;
	display: block;
	

	margin: 0;
	padding: 7px 7px 9px 5px;
	height: auto;
	min-height: 5px;
	margin-top: -6px;
	
 	background-color: transparent;
 	color: #002A68;
	background-image: url(submenubuttonbg.png);
	background-repeat: no-repest;
	background-position: 0 0;
	
 	font-size: 85%;
 	
 }
#popupmenu ul li ul li:last-child > a{
 	padding-bottom: 2px;
}
#popupmenu ul li ul li:last-child {
	background-image: url(submenubottom.png);  
	padding-bottom: 15px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
#popupmenu ul li ul li:last-child:hover{
	background-image: url(submenubottomhover.png); 
}
#popupmenu ul li ul li a:hover,
#popupmenu ul li ul li:hover > a
 {
 	background-image: url(submenubuttonbghover.png);
	color: #2F4313;
 }

#popupmenu ul li ul li{
	margin: 0;
	height: auto;
}
#popupmenu ul li ul{
	height: auto;
}
#popupmenu ul li ul li:first-child a{
	border-width: 1px 1px 1px 1px;
}

/* Just the style of the page. */
body{
	margin: 1em 20% 0 15%;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #FBFDFF;

	font-size: 1em;

}
body > *:last-child{
	margin-bottom: 2em;
}

body h1{ 
	margin: 0 0 0 -10px;
	font-size: 25px;
	color: #2C66BE;
	background-image: url(h1.png);
	padding-left: 30px;
	background-repeat: no-repeat;
	
}

body h2{
	margin: 0 0 0 -5px;
	font-size: 120%;
	color: #2C66BE;
	background-image: url(h2.png);
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

body p{
	line-height: 150%;
}

